@inject HttpClient _httpClient
@inject IJSRuntime js

<EditForm Model="@client" OnValidSubmit="@OnValidSubmit">
<DataAnnotationsValidator />
    <div class="form-group">
        <label>First name:</label>
        <div>
            <InputText @bind-Value="@client.FirstName" />
            <ValidationMessage For="@(() => client.FirstName)" />
        </div>
        <label>Middle name:</label>
        <div>
            <InputText @bind-Value="@client.MiddleName" />
            <ValidationMessage For="@(() => client.MiddleName)" />
        </div>
        <label>Last name:</label>
        <div>
            <InputText @bind-Value="@client.LastName" />
            <ValidationMessage For="@(() => client.LastName)" />
        </div>
        <label>Address:</label>
        <div>
            <InputText @bind-Value="@client.Address" />
            <ValidationMessage For="@(() => client.Address)" />
        </div>
        <label>Phone number:</label>
        <div>
            <InputText @bind-Value="@client.PhoneNumber" />
            <ValidationMessage For="@(() => client.PhoneNumber)" />
        </div>
    </div>
    <button type="submit" class="btn btn-success">
        @ButtonText
    </button>
    <a class="btn btn-secondary" href="/clients">Back</a>
</EditForm>


@code {
    [Parameter] public ClientDTO client { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}
